@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    /*--primary: #8a57e9;*/
    --primary: #DDA0DD;
    /*--secondary: #4c75e6;*/
    --secondary: #E6E6FA;
}

body {
    width: 100%;
    height: 100vh;
    background: white;
}

/*navi var*/
.nav li, a {
    font-weight: 500;
    font-size: 18px;
    color: black;
    text-decoration: none;
}
.nav-name {
    font-size: 16px;
    font-weight: bolder;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 8%;
    background-image: linear-gradient(
            to right bottom,
            var(--primary),
            var(--secondary)
    );
}

.logo {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: black;
}

.cta li:hover {
    color: white;
}

button {
    padding: 9px 25px;
    background-color: #e65ae6;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    color: black;
}

/* Select css */
.dropdown {
    width: 30rem;
    position: relative;
    float: left;
}

.dropdown2 {
    width: 30rem;
    position: relative;
    float: left;
}

.dropdown3 {
    width: 30rem;
    position: relative;
    float: right;
}

.dropdown:hover .dropdown-list {
    opacity: 1;
    visibility: visible;
}

.dropdown2:hover .dropdown-list2 {
    opacity: 1;
    visibility: visible;
}

.dropdown3:hover .dropdown-list3 {
    opacity: 1;
    visibility: visible;
}

.dropdown-select {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: white;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    cursor: pointer;
}

.dropdown-select2 {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: white;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    cursor: pointer;
}

.dropdown-select3 {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: white;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    cursor: pointer;
}

.dropdown-list {
    width: 15rem;
    border-radius: 4px;
    /*background-color: white;*/
    background-image: linear-gradient(
            to right bottom,
            var(--primary),
            var(--secondary)
    );
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0.2s linear;
    z-index: 5;
}

.dropdown-list2 {
    width: 15rem;
    border-radius: 4px;
    /*background-color: white;*/
    background-image: linear-gradient(
            to right bottom,
            var(--primary),
            var(--secondary)
    );
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0.2s linear;
    z-index: 6;
}

.dropdown-list3 {
    width: 15rem;
    border-radius: 4px;
    /*background-color: white;*/
    background-image: linear-gradient(
            to right bottom,
            var(--primary),
            var(--secondary)
    );
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0.2s linear;
    z-index: 5;
}

.dropdown-list-item {
    padding: 1rem;
    font-size: 1rem;
}

.dropdown-list-item:hover {
    cursor: pointer;
    color: white;
}

.dropdown-list-item2 {
    padding: 1rem;
    font-size: 1rem;
}

.dropdown-list-item2:hover {
    cursor: pointer;
    color: white;
}

.dropdown-list-item3 {
    padding: 1rem;
    font-size: 1rem;
}

.dropdown-list-item3:hover {
    cursor: pointer;
    color: white;
}

/*slide animation*/

.slider-frame {
    overflow: hidden;
    height: 400px;
    /*width: 100%;*/
    /*margin-left: 360px;*/
    margin-top: 10px;
}

/*Slid Animation*/

@-webkit-keyframes slide_animation {
    0% {
        right: 0px;
    }
    10% {
        right: 1200px;
    }
    20% {
        right: 2400px;
    }
    30% {
        right: 3200px;
    }
    40% {
        right: 4200px;
    }
    50% {
        right: 4800px;
    }
    60% {
        right: 4200px;
    }
    70% {
        right: 3200px;
    }
    80% {
        right: 2400px;
    }
    90% {
        right: 1200px;
    }
    100% {
        right: 0px;
    }
}

.slider-images {
    width: 6000px;
    height: 10px;
    margin: 0 0 0 0px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container {
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}

/* CARDS */
.container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.card {
    background: white;
    width: 220px;
    height: 300px;
    margin: 10px;
    border-radius: 15px;
    float: left;
    /*display: block;*/
}

.card-image {
    background-color: aqua;
    height: 300px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card-title{
    color: black;
    text-align: center;
}

/* HEART RED */
.is-sparta {
    color: #e8344e !important;
}
/*CARD*/

/*.card {*/
/*    float: left;*/
/*    margin-right: 15px;*/
/*    margin-bottom: 25px;*/
/*    font-color: black;*/
/*}*/

/*.cards {*/
/*    margin: auto;*/
/*    display: block;*/
/*    width: 1000px;*/
/*    color: black;*/
/*    z-index: 1;*/
/*}*/

.mytitle {
    padding-top: 100px;
    margin: 20px auto 0px auto;
    width: 100%;
}

