<!doctype html>
<html lang="en">
<head>

    <!-- Webpage Title -->
    <title>다이버 :: 로그인하기</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <link rel="stylesheet" href="../static/login.css">
    <!-- 아이콘 -->
    <link href="https://cdn-icons-png.flaticon.com/512/2047/2047989.png" rel="shortcut icon" type="image/x-icon">

    <script>
{#        {% if msg %}#}
{#            alert("{{ msg }}")#}
{#        {% endif %}#}

        function login() {
            $.ajax({
                type: "POST",
                url: "/api/login",
                data: {id_give: $('#userid').val(), pw_give: $('#userpw').val()},
                success: function (response) {
                    if (response['result'] == 'success') {
                        // 로그인이 정상적으로 되면, 토큰을 받아옵니다.
                        // 이 토큰을 mytoken이라는 키 값으로 쿠키에 저장합니다.
                        $.cookie('mytoken', response['token']);

                        alert('로그인 완료!')
                        window.location.href = '/'
                    } else {
                        // 로그인이 안되면 에러메시지를 띄웁니다.
                        alert(response['msg'])
                    }
                }
            })
        }

        function is_nickname(asValue) {
            var regExp = /^(?=.*[a-zA-Z])[-a-zA-Z0-9_.]{2,10}$/;
            return regExp.test(asValue);
        }

        function is_password(asValue) {
            var regExp = /^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z!@#$%^&*]{8,20}$/;
            return regExp.test(asValue);
        }

    </script>

</head>
<body>
<div class="wrapper">
    <h2>다이버 (DIVER)</h2>
    <form action="#">
        <div class="input-box">
            <input id="userid" type="text" placeholder="ID를 입력하세요" required>
        </div>
        <div class="input-box">
            <input id="userpw" type="password" placeholder="PW를 입력하세요" required>
        </div>
        <div class="input-box button">
            <input onclick="login()" value="로그인">
        </div>
        <div class="text">
            <h3>Do you want to join? <a href="/register">Join now</a></h3>
        </div>
    </form>
</div>

</body>
</html>