<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>다이버 :: 가입하기</title>
    <link rel="stylesheet" href="../static/signin.css">
</head>
<body>
    <div class="wrapper">
        <h2>다이버 (DIVER)</h2>
        <form action="#">
            <div class="input-box">
                <input type="text" placeholder="ID를 입력하세요"  required>
            </div>
            <div class="input-box">
                <input type="password" placeholder="PW를 입력하세요" required>
            </div>
            <div class="input-box button">
                <input type="Submit" value="로그인">
            </div>
            <div class="text">
                <h3>Do you want to join? <a href="/signup">Join now</a></h3>
            </div>
        </form>
    </div>

</body>
</html>